body {
  background-image: url("./bg-03.jpg");
  background-size: cover;
  background-repeat: space;
  height: 100%;
}

/**Landing Page**/
.landing-page {
  background-image: url("./bg-04.jpg");
  background-size: cover;
  background-repeat: round;
  height: 100%;
}
.landing-page-text {
  margin: 49.8% 0% 0% 0%;
}

/**HEADER**/
#main-header {
  background-color: rgba(0, 0, 0, 0.911);
  padding: 5px 0 0 0;
}
#main-header .dropdown-menu {
  margin-left: 83.6%;
}

/**Footer**/
#main-footer .row {
  margin: 0 0 0 8%;
  text-align: justify;
}
.contact-us {
  margin: 0 0 5% 35%;
}
.social-bar {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0 0 28%;
}
.social-icon {
  margin: 0 10px 0 0;
  filter: grayscale(35%);
  transition: 0.15s ease-in-out;
}
.social-icon:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.social-icon img {
  min-width: 25px;
}
.img-responsive {
  max-width: 50%;
}

/**SignIn Form**/
.login-form {
  background-image: url("./bg-01.jpg");
  background-size: cover;
  background-repeat: round;
  height: 100%;
  font-family: "Numans", sans-serif;
}
.login-form .container {
  height: 100%;
  align-content: center;
}
.login-form .card {
  height: 370px;
  margin: 11% 0 16.44% 0;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.login-form .content {
  margin: 0% 0% 0% 0%;
}
.login-form .social_icon span {
  font-size: 60px;
  margin: 0 0 0 10px;
  color: #ffc312;
}
.login-form .social_icon span:hover {
  color: white;
  cursor: pointer;
}
.login-form .social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}
.login-form .input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}
.login-form input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.login-form .login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
  margin: 2% 0 0 0;
}
.login-form .login_btn:hover {
  color: black;
  background-color: white;
}
.login-pass-field {
  width: 310px;
  margin-right: -13%;
}
.login-show-pass {
  margin-top: 2%;
  position: relative;
}
.input-group-prepend {
  margin-right: -1px;
  max-height: 38px;
}

/**Credentials**/
.add-user-credentials {
  background-image: url("./bg-01.jpg");
  background-size: cover;
  background-repeat: round;
  height: 753px;
}
.add-user-credentials .card {
  align-content: center;
  margin: 7% 0 0 0;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.add-user-credentials input {
  background-color: rgba(17, 17, 104, 0.404);
  color: white;
}
.add-user-credentials textarea {
  background-color: rgba(17, 17, 104, 0.404);
  color: white;
}
.add-user-credentials select {
  background-color: rgba(17, 17, 104, 0.404);
  color: white;
}
.add-user-credentials input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
  background-color: rgba(17, 17, 104, 0.404);
  caret-color: white;
}
.add-user-credentials .login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}
.add-user-credentials .login_btn:hover {
  color: black;
  background-color: white;
}
.pass-field {
  margin-right: -11%;
  width: 419px;
}
.show-pass {
  margin-top: 1.5%;
  padding-right: 4px;
  position: relative;
}
/********************************************ADMIN DASHBOARD********************************************/

/**Team List**/
.adminDash .team-list {
  margin: 1.3% 0 0 0;
}
.adminDash .team-list .team-list-content {
  position: relative;
  min-width: 255px;
  width: 20%;
  height: 250px;
  overflow: hidden;
  color: #a9a9a9;
  background-color: rgba(0, 0, 0, 0.911);
  border-top-right-radius: 65px;
  border-bottom-left-radius: 35px;
  margin: 0 3% 0 0;
  float: left;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.adminDash .team-list .team-list-content span {
  color: #f5fffa;
}
.adminDash .team-list .card .surface {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background: black;
  transition: 0.2s linear;
}
.adminDash .team-list .card .icons {
  cursor: pointer;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 7px 8px;
  font-size: 16px;
  color: rgb(248, 94, 94);
  background: #ffffff;
  border-radius: 50%;
  margin: auto 2% 4% 2%;
  opacity: 0;
  transform: translateY(130px) translateX(-50px);
  transition: 0.3s;
}
.adminDash .team-list .card:hover .surface {
  opacity: 0.8;
  height: 100%;
}
.adminDash .team-list .card:hover .icons {
  opacity: 1;
  transform: translateY(-10px) translateX(5px);
}
.adminDash .team-list .card .fa-edit {
  transition-delay: 0.2s;
}
.adminDash .team-list .card .fa-chart-line {
  transition-delay: 0.4s;
}
.adminDash .team-list .card .fa-trash {
  transition-delay: 0.6s;
}

/**List ALL Users Admin**/
.list-user-admin .list-users {
  background-color: rgba(0, 0, 0, 0.911);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  float: left;
  width: 38%;
  margin: 0 -2% 0 9%;
}
.list-user-admin .list-users .list-users-details {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #a9a9a9;
}
.list-user-admin .list-users .list-users-details span {
  color: #f5fffa;
}
.list-user-admin .list-users:hover {
  background-color: black;
}

/**Team Progress Dashboard**/
.team-progress-dashboard {
  background: #000000c2;
  /* min-height: 754px; */
  min-height: 100%;
}
.circular-complete-bar {
  margin: 0 0 0 6%;
  border-radius: 15px !important;
  max-width: 35%;
  height: 365px;
}
.CircularProgressbar {
  min-width: 111% !important;
  margin: -5% 0% -5.5% -5.5%;
  vertical-align: middle !important;
  float: left;
  padding: 20px 0px;
  max-height: 300px;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #48b460 !important;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: #48b460 !important;
  font-size: 20px;
  text-anchor: middle;
}
.team-progress-bar {
  padding: 13px;
  box-shadow: 3px 3px 3px 3px rgba(18, 19, 21, 0.45),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 15px;
  margin: -23.7% 5% 4% 43%;
  background-color: #ffffffeb;
  max-width: 62%;
}
.team-progress-bar .progress {
  height: 35px;
  background-color: rgba(214, 214, 214);
  border-radius: 30px !important;
  height: 15px;
}
.card-stats {
  margin: 16% 4% 0 5% !important;
  border-radius: 15px !important;
  padding-bottom: 4.8%;
}
.progress-svg-icon {
  margin: 0 0 0 66.5% !important;
}
.team-member-count {
  margin: -2.7% 5% -14% 43%;
  border-radius: 15px !important;
  padding: 13px;
}

/********************************************TEAM-LEAD DASHBOARD********************************************/

/**Add Todo Form**/
.add-todo {
  background-image: url("./bg-01.jpg");
  background-size: cover;
  background-repeat: round;
}
.add-todo .card {
  margin: -1.5% 0 4.4% 0;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.add-todo input {
  background-color: rgba(17, 17, 104, 0.404);
  color: white;
}

.add-todo textarea {
  background-color: rgba(17, 17, 104, 0.404);
  color: white;
}
.add-todo select {
  background-color: rgba(17, 17, 104, 0.404);
  color: white;
}
.add-todo input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
  background-color: rgba(17, 17, 104, 0.404);
  caret-color: #0083ff;
}
.add-todo .login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}
.add-todo .login_btn:hover {
  color: black;
  background-color: white;
}

/**Add Team Member Form**/
.add-user {
  background-image: url("./bg-01.jpg");
  background-size: cover;
  background-repeat: round;
}
.add-user .card {
  align-content: center;
  margin: 9% 0 26.9% 0;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.add-user input {
  background-color: rgba(17, 17, 104, 0.404);
  color: white;
}
.add-user textarea {
  background-color: rgba(17, 17, 104, 0.404);
  color: white;
}
.add-user select {
  background-color: rgba(17, 17, 104, 0.404);
  color: white;
}
.add-user input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
  background-color: rgba(17, 17, 104, 0.404);
  caret-color: #0083ff;
}
.add-user .login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}
.add-user .login_btn:hover {
  color: black;
  background-color: white;
}

/**TodoList**/
.teamLeadDash .todo-list {
  margin: 1.3% 0 0 0;
}
.teamLeadDash .todo-list .todo-list-content {
  position: relative;
  min-width: 255px;
  height: 294px;
  overflow: hidden;
  color: #a9a9a9;
  background-color: rgba(0, 0, 0, 0.911);
  border-top-right-radius: 65px;
  border-bottom-left-radius: 35px;
  width: 20%;
  margin: -0.1% 3% 0 0;
  float: left;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.teamLeadDash .todo-list .todo-list-content span {
  color: #f5fffa;
}
.card .surface {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background: black;
  transition: 0.2s linear;
}
.card .todo-detail {
  font-size: 14px;
  color: #f1f1f1;
  opacity: 0;
  transform: translateX(30px) translateY(250px);
  transition: 0.4s;
  margin: 0 3% 0 3%;
  padding: 0 1.5% 0 1.5%;
}
.card .icons {
  cursor: pointer;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 7px 8px;
  font-size: 16px;
  color: rgb(248, 94, 94);
  background: #ffffff;
  border-radius: 50%;
  margin: auto 2% 4% 2%;
  opacity: 0;
  transform: translateY(130px) translateX(-50px);
  transition: 0.3s;
}
.card:hover .surface {
  opacity: 0.8;
  height: 100%;
}
.card:hover .todo-detail {
  opacity: 1;
  transform: translateX(0px) translateY(-20px);
  transition: 0.4s;
}
.card:hover .icons {
  opacity: 1;
  transform: translateY(-10px) translateX(5px);
}
.card .fa-edit {
  transition-delay: 0.2s;
}
.card .fa-trash {
  transition-delay: 0.4s;
}

/**List Team Member**/

.list-team-member .list-member {
  background-color: rgba(0, 0, 0, 0.911);
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #a9a9a9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 0 13% 0 13%;
}
.list-team-member .list-member:hover {
  background-color: black;
}
.list-team-member .list-member .list-team-detail span {
  color: #f5fffa;
}
.add-member-btn {
  margin: -4.3% 0 0 13.5%;
}
/**Progress Bar**/
.todo-progress-bar {
  /* margin: 0% 45% -2% 4.4%; */
  margin: 0% 55% -2% 4.1%;
}
.progress-bar {
  width: 259px;
}

/********************************************TEAM-MEMBER DASHBOARD********************************************/

/*Team Member Todo List*/
.teamMemberDash .todo-list-member {
  margin: 1.3% 0 0 0;
}
.teamMemberDash .todo-list-member .todo-list-content {
  position: relative;
  min-width: 255px;
  height: 294px;
  overflow: hidden;
  color: #a9a9a9;
  background-color: rgba(0, 0, 0, 0.911);
  border-top-right-radius: 65px;
  border-bottom-left-radius: 35px;
  width: 20%;
  margin: -0.1% 3% 0 0;
  float: left;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.teamMemberDash .todo-list-member .todo-list-content span {
  color: #f5fffa;
}
.card .surface {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background: black;
  transition: 0.2s linear;
}
.card .todo-detail-member {
  font-size: 14px;
  color: #f1f1f1;
  opacity: 0;
  transform: translateX(30px) translateY(250px);
  transition: 0.4s;
  margin: 0 3% 0 3%;
  padding: 0 1.5% 0 1.5%;
}
.card .icons {
  cursor: pointer;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 7px 8px;
  font-size: 16px;
  color: rgb(248, 94, 94);
  background: #ffffff;
  border-radius: 50%;
  margin: auto 2% 4% 2%;
  opacity: 0;
  transform: translateY(130px) translateX(-50px);
  transition: 0.3s;
}
.card:hover .surface {
  opacity: 0.8;
  height: 100%;
}
.card:hover .todo-detail-member {
  opacity: 1;
  transform: translateX(0px) translateY(-65px);
  transition: 0.4s;
}
.card:hover .icons {
  opacity: 1;
  transform: translateY(-10px) translateX(5px);
}
.card .fa-edit {
  transition-delay: 0.2s;
}
.card .fa-trash {
  transition-delay: 0.4s;
}

/**List Team Peer**/
.list-team-peer .list-peer {
  background-color: rgba(0, 0, 0, 0.911);
  margin: 0 240px 0px 240px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.list-team-peer .list-peer .list-peer-detail {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #a9a9a9;
}
.list-team-peer .list-peer .list-peer-detail span {
  color: #f5fffa;
}
.list-team-peer .list-peer:hover {
  background-color: black;
}

/********************************************Css which applies on all the dashboards********************************************/

/**All Btn class gradient**/
.btn {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2) 49%,
    rgba(0, 0, 0, 0.15) 51%,
    rgba(0, 0, 0, 0.05)
  );
  background-repeat: repeat-x;
}
/**Success Message**/
.anticon {
  vertical-align: 0rem;
  font-size: 20px;
}
.ant-message-notice {
  position: relative;
  margin: -4% 0 10% 37%;
  width: max-content;
  color: black;
  background: #ffffffd1;
  border-radius: 15px;
  padding: 15px;
  border: solid #686464 2px;
  font-variant: petite-caps;
}
/**SCROLLBAR**/
/* width */
::-webkit-scrollbar {
  width: 0.4%;
}
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgba(128, 134, 139, 0.26); */
  background: rgba(0, 0, 0, 0.479);
  border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgba(91, 98, 104, 0.26); */
  background: rgba(0, 0, 0, 0.779);
}

@media screen and (max-width: 1280px) {
  /***landing***/
  .landing-page-text {
    margin: 44.05% 0 0 0;
  }
  /***login***/
  .login-form .card {
    margin: 13.5% 0 13.99% 0;
  }
  .login-form .content {
    margin: -6% 0% 0% 0%;
  }
  /***Admin***/
  /*progress*/
  .team-progress-bar {
    padding: 13px;
    margin: -28.3% 5% 4% 43%;
    max-width: 62%;
  }
  .card-stats {
    margin: 15.79% 4% 0% 5% !important;
    padding-bottom: 3.5%;
  }
  .circular-complete-bar {
    margin: -2% 0 0 6%;
    max-width: 35%;
    height: 365px;
  }
  /***Lead***/
  /*todo*/
  .teamLeadDash .todo-list .todo-list-content {
    max-width: 20.7%;
    margin: -0.1% 2% 0 0;
  }
  .card .todo-detail {
    margin: 0 3% -2% 3%;
    padding: 0 2.5% 0% 1.5%;
  }
  /***Member***
  /*todo*/
  .teamMemberDash .todo-list-member .todo-list-content {
    margin: -0.1% 2% 0 0;
  }
  .card .todo-detail-member {
    margin: 0 3% -6% 3%;
    padding: 0 4.5% 0% 1.5%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  /***landing***/
  .landing-page-text {
    margin: 41.15% 0 0 0;
  }
  /***login***/
  .login-form .card {
    margin: 13.5% 0 13.99% 0;
  }
  .login-form .content {
    margin: -8.88% 0% 0% 0%;
  }
  /***Admin***/
  /*progress*/
  .team-progress-bar {
    margin: -26.7% 5% 4.3% 43%;
    max-width: 62%;
  }
  .team-member-count {
    margin: -2.7% 5% -12.1% 43%;
    padding: 13px;
  }
  .card-stats {
    margin: 13.79% 4% 0% 5% !important;
    padding-bottom: 2.5%;
  }
  /*list peers*/
  .list-user-admin .list-users {
    min-width: 576px;
    margin: 0 -2% 0 6%;
  }
  /***lead***/
  .card .todo-detail {
    margin: 0 3% -3% 3%;
    padding: 0 2.5% 0% 1.5%;
  }
  /***Member***
  /*todo*/
  .card .todo-detail-member {
    margin: 0 3% -6% 3%;
    padding: 0 4.5% 0% 1.5%;
  }
}
