/*Modal*/
.modal-title {
  margin-left: 37%;
}
.modal-body .form-control {
  border-radius: 1rem;
  margin-left: 55%;
}
.modal-body form {
  padding: 0 auto;
}

.modal-body h3 {
  color: #0062cc;
}

.modal-footer button {
  background: transparent;
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
  color: #3ddc84;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid #3ddc84;
  overflow: hidden;
  margin-right: 41%;
}
.modal-footer button::before {
  position: absolute;
  content: "";
  height: 10px;
  left: 2px;
  bottom: 2px;
  width: 10px;
  border-bottom: 2px solid #3ddc84;
  border-left: 2px solid #3ddc84;
}
.modal-footer button::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #3ddc84;
  border-right: 2px solid #3ddc84;
}
.modal-footer button:hover {
  background-color: #3ddc84;
  box-shadow: 0px 0px 40px #3ddc84;
  color: black;
  transition: all 0.3s ease-in-out 0.3s;
  text-decoration: none;
}
.modal-footer button:hover::before,
.modal-footer button:hover::after {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

/*Footer*/
.social-bar {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.social-icon {
  margin-right: 10px;
  filter: grayscale(35%);
  transition: 0.15s ease-in-out;
}
.social-icon:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.social-icon img {
  min-width: 25px;
}
.img-responsive {
  max-width: 50%;
}
