#main-header {
  background-color: rgba(0, 0, 0, 0.911);
}
/*TodoList*/
.teamLeadDash {
  background-image: url("./bg-01.jpg");
  background-size: cover;
  background-repeat: round;
  height: 100%;
}
.teamLeadDash .todo-list {
  min-height: 588px;
}
.teamLeadDash .todo-list .todo-list-content {
  background-color: rgba(0, 0, 0, 0.911);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 25px;
}
/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*Landing Page*/
.landing-page {
  background-image: url("http://getwallpapers.com/wallpaper/full/0/e/6/165796.jpg");
  background-size: cover;
  background-repeat: round;
  height: 100%;
}
.landing-page .landing-page-content {
  min-height: 575px;
}
/*Footer*/

.social-bar {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.social-icon {
  margin-right: 10px;
  filter: grayscale(35%);
  transition: 0.15s ease-in-out;
}
.social-icon:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.social-icon img {
  min-width: 25px;
}
.img-responsive {
  max-width: 50%;
}
/**SignIn Form*/
@import url("https://fonts.googleapis.com/css?family=Numans");

.login-form {
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  background-repeat: round;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.login-form .container {
  height: 100%;
  align-content: center;
}

.login-form .card {
  height: 370px;
  margin-top: 15%;
  margin-bottom: 12.4444%;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.login-form .social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.login-form .social_icon span:hover {
  color: white;
  cursor: pointer;
}

.login-form .social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.login-form .input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

.login-form input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login-form .login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login-form .login_btn:hover {
  color: black;
  background-color: white;
}

.login-form .links {
  color: white;
}

.login-form .links a {
  margin-left: 4px;
}
/*******End*********/
