/*Footer*/
.social-bar {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.social-icon {
  margin-right: 10px;
  filter: grayscale(35%);
  transition: 0.15s ease-in-out;
}
.social-icon:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.social-icon img {
  min-width: 25px;
}
.img-responsive {
  max-width: 50%;
}
/**SignIn Form*/
@import url("https://fonts.googleapis.com/css?family=Numans");

.login-form {
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  background-repeat: round;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.login-form .container {
  height: 100%;
  align-content: center;
}

.login-form .card {
  height: 370px;
  margin-top: 15%;
  margin-bottom: 12.4444%;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.login-form .social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.login-form .social_icon span:hover {
  color: white;
  cursor: pointer;
}

.login-form .social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.login-form .input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

.login-form input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login-form .login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login-form .login_btn:hover {
  color: black;
  background-color: white;
}

.login-form .links {
  color: white;
}

.login-form .links a {
  margin-left: 4px;
}
/*******End*********/
